
body {background-color: #F1F9F8;}

hr {
border-style: dotted none none;
border-width: 10px;
width: 3%;
border-color: #DFC3C9;
}

h1 {
  color: #583065;

}

h3 {
  color: #7564A8;

}

h2 {
  color: #A86475;
  
}
